@{
    ViewData["Title"] = "Home Page";
}

<div class="header">
    <img src="https://img.tsn.ua/cached/1533904810/tsn-c4a14e908bc0d57dbb04383f58c6fbeb/thumbs/1340x530/48/40/5569085dbe7c6515571c01fd23834048.jpeg" alt="ASP.NET" class="img-responsive" height="100" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>TAXI — say yES!</h2>
        <p>

        </p>
    </div>
    <div class="col-md-4">
        <h2>Safety and comfort</h2>
        <p>You can see more information by following: </p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
    </div>
</div>


