@model TAXIES.Models.Driver

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Driver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DriverPassport" class="control-label"></label>
                <input asp-for="DriverPassport" class="form-control" />
                <span asp-validation-for="DriverPassport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverName" class="control-label"></label>
                <input asp-for="DriverName" class="form-control" />
                <span asp-validation-for="DriverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverBirth" class="control-label"></label>
                <input asp-for="DriverBirth" class="form-control" />
                <span asp-validation-for="DriverBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverTel" class="control-label"></label>
                <input asp-for="DriverTel" class="form-control" />
                <span asp-validation-for="DriverTel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
